{% extends "base.html" %}
{% block registro_materia %}
	<!--<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
  	<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}js/uniform.agent.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.css">
    

<script type='text/javascript'>
    // On load, style typical form elements
    $(function () {
        $(" select, input, button").uniform();
    });
</script>-->

<div id="regMateria">
	<h3 align="center">REGISTRAR MATERIAS</h3>
	<table border="1" align="center">
		<form id='formulario' method='POST' action=''>{% csrf_token %}
			<tr><td>{{ formu.as_p }}</td></tr>
			
			<tr><td align="center"><input type='submit' value='confirmar'>
				<input type="reset" name="cancelar" value="Cancelar">
				</td></tr>
		</form>
	</table>
			{% if estado %}
		<h1>guardado Exitoso</h1>
		{% endif %}
</div>
{% endblock %}