{% extends "base.html" %}
{%block subir %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
  	<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}js/uniform.agent.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}js/jquery-ui-1.10.4.custom.css">
    

<script type='text/javascript'>
    // On load, style typical form elements
    $(function () {
        $(" select, input, button").uniform();
    });
</script>
<div id="regArchivo">
	<b>
		REGISTRAR ALUMNOS DESDE UN ARCHIVO
	</b>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{formulario.as_ul}}
		<input type="submit" value="Enviar"/>
	</form>
</div>
{%endblock%}