<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/todoAlum.css">

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.idealforms.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.idealforms.min.css"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function(){
        $('#acordionAlum').accordion({
        });
      });
      </script>

      <script type="text/javascript">
      $(document).ready(function(){
        $('#fecha3').datepicker({
          changeMonth: true,
          changeYear: true
        });
      });
      </script>
    
</head>
<body>
	<div id="contenidoAlum">
		<input id='fecha3' type="text" name="fecha" placeholder="CONSULTE LA FECHA">
                          <div id="intro"> 
                 <br></br>
<img src="{{STATIC_URL}}images/apple.jpg" alt="Example pic" style="border: 3px solid #ccc;" />

<h4><a href="#">POR QUE ES IMPORTANTE EL SISTEMA..?</a></h4>
<h5>
Una de las restricciones que se pueden aplicar a las computadoras de la escuela es el tipo de sitios web que los estudiantes y profesores pueden visitar (o, de hecho, si el equipo brinda acceso a Internet a todos). La mayoría de estas reglas son para proteger a los estudiantes de ver material inadecuado, como pornografía y sitios racistas. Pero si un profesor está guiando, por ejemplo, una clase de salud, las reglas que bloquean imágenes del cuerpo humano pueden resultar perjudiciales para el proceso de aprendizaje.
</h5>
</div>

</div>
	</div>

<div id="izquierdo">
	<div id="bienvenido"><h3>Bienvinido: {{u.Nombre_Alumno}}</h3></div>
<div>
	
	<div>{% for c in curso %}
		{% for a in alumno %}
			{% if c.id == a.idCurso_id %}
			<h3>{{c.nombre_Curso}}</h3>	
			{% endif %}
		{% endfor %}
	{% endfor %}
	</div>
</div>
<div id="acordionAlum">
  <h3 ><a href="#">VER PUBLICACIONES</a></h3>
     <DIV>
        <P>
          <table border="1">
			<h5>PUBLICACION</h5>
			<tr><td>Descripcion</td>
				<td>Profesor</td>
				<td>Curso</td>
				<td>Fecha de Publicacion</td>
				<td>Archivo</td>
			</tr>
				{% for co in comentario %}
					{% for cur in curso %}
						{% for p in profesor %}
							{% for al in alumno %}
								{% if cur.id == co.id_curso_id and p.id == co.Nombre_Profesor_id %}
									{% if cur.id == al.idCurso_id %}
									<tr><td>{{co.descripcion}}</td><td>{{co.Nombre_Profesor}}</td><td>{{co.id_curso}}</td>
									<td>{{co.fecha}}</td><td>{{co.archivo}}</td><td><a href="/media/{{ co.archivo}}">Descargar</a></td></tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</table>
                    </P> 
     </DIV>  
<h3 ><a href="#">VER NOTAS</a></h3>
<div>
<table border="1" >
<tr><td>MATERIA</td><td>BIMESTRES 1</td><td>BIMESTRES 2</td><td>BIMESTRES 3</td><td>BIMESTRES 4</td><td>PROMEDIO</td>
</tr>
{% for n in nota %}
 	{% for a in alumno %}
 		{% for m in materias %}
	 		{% if a.id == n.id_Alumno_id and m.id == n.id_Materia_id %}
	 		<tr><td>{{m.nombre_Materia}}</td><td>{{n.Bimentre_1}}</td><td>{{n.Bimentre_2}}</td><td>{{n.Bimentre_3}}</td>
	 			<td>{{n.Bimentre_4}}</td><td>{{n.nota}}</td></tr>
	 		{% endif %}
	 	{% endfor %}
 	{% endfor %}
{% endfor %}
</table>
</div>
<table border="1">
	<div>
	<h3 ><a href="#">VER ASISTENCIA</a></h3>
	{% for a in alumno %}
		{% for m in materias %}
			{% for asist in asistencia %}
			  {% if a.id == asist.id_Alumno_id and m.id == asist.id_Materia_id %}
			  <tr><td>{{asist.asistencias}}</td><td>{{asist.fecha}}</td><td>{{m.nombre_Materia}}</td></tr>
			  {% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>
</div>
</div>
<div id="down">
<img src="{{STATIC_URL}}images/apple2.jpg" alt="Example pic" style="border: 3px solid #ccc;" />

<h4><a href="#">IMPORTANTE...!</a></h4>
<h5>
Una de las restricciones que se pueden aplicar a las computadoras de la escuela es el tipo de sitios web que los estudiantes y profesores pueden visitar (o, de hecho, si el equipo brinda acceso a Internet a todos). La mayoría de estas reglas son para proteger a los estudiantes de ver material inadecuado, como pornografía y sitios racistas. Pero si un profesor está guiando, por ejemplo, una clase de salud, las reglas que bloquean imágenes del cuerpo humano pueden resultar perjudiciales para el proceso de aprendizaje.
</h5>
</div>
<div id="face">
<ul><h3>visitanos en:</h3></ul>
<ul><a href="https://www.facebook.com"><img src="{{STATIC_URL}}images/face.jpg"></a>
</ul>
</div>

</div>	
</body>