/*#formulario {
    border:2px solid 0;
    width:450px;
    margin:auto;
}
#formulario legend{
    font-weight:bold;
    font-size:50px;
}
#formulario ol{
    list-style:none;
}
#formulario ol li{
    padding-bottom:5px;
}
#formulario ol li label{
    width:120px;
    float:left;
    text-align:left;
    font-size: 15px;
}
#formulario input[type=text] {
    border:1px solid #CCCCCC;
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_telefono{
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_password1 {
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_password2{
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_ci{
    border-radius: 20px;
    background-color: #81BEF7;
}
#formulario input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#990000;
    border:1px solid #000000;
}
#formulario p label {
    width:120px;
    float:left;
    text-align:left;
}*/


