/*#formulario {
    border:2px solid 0;
    width:450px;
    margin:auto;
}
#formulario legend{
    font-weight:bold;
    font-size:50px;
}
#formulario ol{
    list-style:none;
}
#formulario ol li{
    padding-bottom:5px;
}
#formulario ol li label{
    width:120px;
    float:left;
    text-align:left;
    font-size: 15px;
}
#formulario input[type=text] {
    border:1px solid #CCCCCC;
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_telefono{
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_password1 {
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_password2{
    border-radius: 20px;
    background-color: #81BEF7;
}
#id_ci{
    border-radius: 20px;
    background-color: #81BEF7;
}
#formulario input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#990000;
    border:1px solid #000000;
}
#formulario p label {
    width:120px;
    float:left;
    text-align:left;
}*/
#logProfe{
    width: 300px;
    height: 170px;
    background-color: #81BEF7;

    border-radius: 20px;
    /*float: left;*/
    margin-left: 10px;
    margin-top: 110px;
    background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(216,225,231,1) 72%, rgba(216,225,231,1) 72%, rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(72%,rgba(216,225,231,1)), color-stop(72%,rgba(216,225,231,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 72%,rgba(216,225,231,1) 72%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 72%,rgba(216,225,231,1) 72%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 72%,rgba(216,225,231,1) 72%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 51%,rgba(216,225,231,1) 72%,rgba(216,225,231,1) 72%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

